# smt needed to make fetching configs works
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true

# actuator config & zipkin config
# https://www.appsdeveloperblog.com/micrometer-and-zipkin-in-spring-boot/
management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans